extends ../layout
block main
    form(method="post" action="/admin/userProfile/" + user.id + "/edit")
      label(for="fullname") ReEdit Full name
      input(id="fullname", name="fullname", type="text", placeholder="John Doe")
      label(for="email") ReEdit Email
      input(id="email", name="email", type="email", placeholder="john.doe@gmail.com")
      button(type="submit") Valid ReEdition
