*{
	box-sizing: border-box;
}

body {
    background-color: #eff3f6;
    font-family: 'Source Sans Pro', sans-serif;
    color: #9aa0a7;
}

.row {
  display: block;
  width: 380px;
  margin:auto;
  position: relative;
}

form {
  border: 2px solid #ebeef2;
  margin-top: 30%;
}

h2 {
    text-align: center;
    font-weight: lighter;
    padding-top: 35px;
    color: black;
}

input {
  display: block;
  margin-bottom: 12px;
  padding: 3%;
  background-color: #f8fafc;
  border: 2px solid #ebeef2;
  width: 100%;
  color: black;
  border-radius: 3px;
}

label {
  margin-bottom: 7px;
  display: block;
}

button {
  display: block;
  margin: auto;
  width: 100%;
  background-color: 35ad46;
  border: 2px solid #2a9e3a;
  color: white;
  padding: 15px;
  border-radius: 4px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.container {
  padding: 0%;
}

.container-title {
  background-color: #f8fafc;
  border-bottom: 2px solid #ebeef2;
  margin-top: -5%;
}

.container-title::before {
    content: 'account_circle';
    font-family: Material Icons;
    font-size: 75px;
    color: #1e95ee;
    display: block;
    position: absolute;
    margin: -38px;
    margin-left: 40%;
}

.content {
  padding: 15px;
  background-color: ffffff;
}

.log-social {
  display: inline-block;
  position: relative;
  margin-left: 50%;
  transform: translateX(-50%);
}

.log-social::before,
.log-social::after {
  content: "";
  position: absolute;
  border: 1px solid #ebeef2;
  top: 11px;
  width: 66%;
}
.log-social::before {
  right: 100%;
  margin-right: 15px;
}
.log-social::after {
  left: 100%;
  margin-left: 15px;
}

.more {
  display: flex;
  font-size: 13px;
}

.signup {
  width: 70%;
  text-decoration: none;
  color: #9aa0a7;
}

.newpass {
  text-align: right;
  width: 30%;
  text-decoration: none;
  color: #9aa0a7;
}

.social-icone {
  display: block;
  width: 100%;
}

img {
  padding: 11px;
}

img:hover {

}
