html
    head
        title SOF
        link(rel="stylesheet", href="/css/layout.css")
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600" rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    body
        block header
            header
              nav
                ul
                  if loggedInUser
                      li
                        img(src="./../images/logo.png")
                      li
                        a(href="/") Home
                      li 
                        a(href="/new") New post
                      li 
                        a(href="/userProfile/" + loggedInUser.id) Your profile
                      li 
                        div
                          input(type="text" placeholder="Search.." name="search")
                      li 
                        a(href="/Logout")
                          i.material-icons
                            | account_circle
                          
                  else
                      
                      li
                          img(src="./../images/logo.png")
                      li
                          a(href="/") Home
                      li
                          a(href="/signin") Sign in
                      li
                          a(href="/signup") Sign up
        main
            block main
