extends ../layout
block main
    form(method="post")
        label(for="title") Title
        input(id="title", name="title", type="text", placeholder="Reedit this title my bru", value=post.title)
        label(for="content") Content
        textarea(id="content", name="content", placeholder="Reedit this content my bru...") #{post.content}
        button(type="submit") Post
