html
    head
        title Signin-SOF
        link(rel="stylesheet", href="/css/login.css")
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    body
      main
        .row
            form(method="post")
              .container
                .container-title
                  h2 Fisrt time here? please sign-up.
                .content
                  label(for="fullname") Full name
                  input(id="fullname", name="fullname", type="text", placeholder="John Doe")
                  label(for="email") Email
                  input(id="email", name="email", type="email", placeholder="john.doe@gmail.com")
                  label(for="password") Password
                  input(id="password", name="password", type="password", placeholder="******")
                  button(type="submit") Sign up
                  a.log-social Login via social networks
                  .social-icone
                    img(src="./../images/twitter.png")
                    img(src="./../images/facebook.png")
                    img(src="./../images/pinterest.png")
                    img(src="./../images/dribble.png")
            .more
                a.signup(href="/signin") Already register? Get log here
                a.newpass(href="#") Forgot Password?
